/problema1/problema1/nbproject/private/
/problema1/problema1/build/
/problema2/problemaa2/nbproject/private/
/problema2/problemaa2/build/
/problema3/problemaa3/nbproject/private/
/problema3/problemaa3/build/
